# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore .vscode IDE-specific directory
.vscode

gradle

bin
app/.classpath
app/.project
.project
.settings
