# Ignore Gradle project-specific cache directory
.gradle

# Ignore .vscode IDE-specific directory
.vscode

# Ignore Gradle build output directory
build

gradle

bin

.classpath
.project
.project
.settings
